<div class="container-fluid mycontainer">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg nav-my-container">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/aboutus"><i class="fas fa-fan nav-rotate-icon"></i>AbhiWeather<i
                                class="fas fa-fan nav-rotate-icon"></i></a>
                        <button class="navbar-toggler nav-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><i class="fas fa-caret-down"></i></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  nav-ul">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/weather">Weather</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/aboutus">About Us</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </div>